<!-- Probuct Series Navigation -->
<div class="bg-primary">
    <div class="container">
        <div class="row d-none d-md-flex">
            <div class="col-12">
                <ul class="nav font-size-lg" aria-label="Product Series Navigation">
                    <li class="nav-item">
                        <a href="product_chanel.html" class="nav-link text-white">CHANEL</a>
                    </li>
                    <li class="nav-item">
                        <a href="product.html" class="nav-link text-white">Jo Malone</a>
                    </li>
                    <li class="nav-item">
                        <a href="product_curology.html" class="nav-link text-white">Curology</a>
                    </li>
                    <li class="nav-item">
                        <a href="product_dior.html" class="nav-link text-white">Dior</a>
                    </li>
                    <li class="nav-item">
                        <a href="product_chloe.html" class="nav-link text-white">Chloe</a>
                    </li>
                    <li class="nav-item">
                        <a href="product_zara.html" class="nav-link text-white">ZARA</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>