<!-- Additional Section: Subscribe -->
<section class="bg-subscribe bg-cover">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <h2 class="text-secondary font-size-3xl">記得<br>
                    訂閱以獲取更多資訊！
                </h2>
                <form action="product_chanel.html">
                    <div class="input-group mt-5">
                        <input type="mail" class="form-control form-control-subscribe font-weight-medium" placeholder="Your email address" name="mail">
                        <div class="input-group-append">
                            <input type="submit" class="btn-subscribe btn btn-primary font-weight-medium" role="button" value="Subscribe">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>