// Typography
//
// Font, line-height, and color for body text, headings, and more.
//
// Related settings is locatted at "bootstrap/_variables.scss"
// $font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
// $font-weight-medium: 600 !default;

body {
    color: $black;
    font-family: "SF Pro Text", "PingFang TC", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    font-weight: bold;
    line-height: 1.5;
}
h2 {
    font-size: $font-size-base * 2.5; // 40px
    font-weight: bold;
}
h3 {
    font-size: $font-size-base * 2; // 32px
    font-weight: bold;
}
h4 {
    font-size: $font-size-base * 1.5; // 24px
    font-weight: $font-weight-medium;
}
p {
    margin-bottom: 0;
}


// Links
//
// Style anchor elements.
//
// Related settings is locatted at "bootstrap/_variables.scss"

a {
    &.text-primary-light {
        &:hover {
            color: $primary !important;
        }
    }
    &.text-black {
        &:hover {
            color: $primary !important;
        }
    }
}


// Images
//
// Related settings is locatted at "bootstrap/_image.scss"

.img {
    &-cover {
        object-fit: cover;
        object-position: center;
    }
    &-position {
        &-left {
            object-position: 0% center;
        }
        &-left-half {
            object-position: 25% center;
        }
        &-top-half {
            object-position: center 25%;
        }
        &-bottom {
            object-position: center 100%;
        }
    }
}


// Background
//
// Related settings is locatted at "bootstrap/utilities/_background.scss"

.bg {
    &-cover {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}

// Logo
//
// Specifically designed for "h1.navbar-brand"

.logo {
    margin: 0;
    padding: 0;
    width: 128px;
    height: 38px;
    overflow: hidden;
}

// Customed classes for project_week6_perfume_shop

// Background
//
// Specifically designed for "background-image" style

.bg {
    &-md-white {
        @include media-breakpoint-up(md, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)) {
            background: $white !important;
        }
    }
    &-index {
        background-image: url("https://hexschool.github.io/webLayoutTraining1st/perfume-week6/index1.jpg");
        height: 480px;
        @include media-breakpoint-up(md, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)) {
            height: 870px;
        }
    }
    &-subscribe {
        background-image: url("https://hexschool.github.io/webLayoutTraining1st/perfume-week6/index10.jpg");
        height: 600px;
        h2 {
            padding-top: 312px;
        }
    }
}

// Image
//
// Specifically designed for "img" tag

.img {
    &-index {
        &-square {
            height: 350px;
            @include media-breakpoint-up(md, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)) {
                height: 555px;
            }
        }
        &-tall {
            height: 680px;
            @include media-breakpoint-up(md, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)) {
                height: 1080px;
            }
        }
        &-medium {
            height: 350px;
            @include media-breakpoint-up(md, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)) {
                height: 540px;
            }
        }
        &-short {
            height: 520px;
        }
    }
    &-products {
        &-square {
            height: 165px;
            @include media-breakpoint-up(md, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)) {
                height: 255px;
            }
        }
    }
    &-product {
        &-main {
            height: 220px;
            @include media-breakpoint-up(md, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)) {
                height: 460px;
            }
        }
        &-tall {
            height: 640px;
        }
        &-medium {
            height: 460px;
        }
    }
    &-login {
        &-square {
            height: 220px;
            @include media-breakpoint-up(md, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)) {
                height: 730px;
            }
        }
    }
}

// Description
//
// Specifically designed for sidebar with the description of the main content

.md-description {
    @include media-breakpoint-up(md, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)) {
        position: absolute;
        right: 0;
    }
}

// Material Icons
//
// for sizing the icon
.material-icons {
    &.md-18 {
        font-size: 18px;
    }
    &.md-md-24 {
        @include media-breakpoint-up(md, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)) {
            font-size: 24px;
        }
    }
}